# Association Learning

## Lab Assignment - Market Basket Analysis-2

In [1]:
dataset = [['Milk', 'Onion', 'Nutmeg', 'Kidney Beans', 'Eggs', 'Yogurt'],
           ['Dill', 'Onion', 'Nutmeg', 'Kidney Beans', 'Eggs', 'Yogurt'],
           ['Milk', 'Apple', 'Kidney Beans', 'Eggs'],
           ['Milk', 'Unicorn', 'Corn', 'Kidney Beans', 'Yogurt'],
           ['Corn', 'Onion', 'Onion', 'Kidney Beans', 'Ice cream', 'Eggs']]

In [2]:
list8=[]
for x in range(len(dataset)):
    for i in range(len(dataset[x])):
        if dataset[x][i] not in list8:
               list8.append(dataset[x][i])
print(list8)

['Milk', 'Onion', 'Nutmeg', 'Kidney Beans', 'Eggs', 'Yogurt', 'Dill', 'Apple', 'Unicorn', 'Corn', 'Ice cream']

In [3]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

In [4]:
te=TransactionEncoder()
te= te.fit(dataset) ## Read all unique items from dataset
te_ary=te.transform(dataset) ## converts into matrix having values true or false
print(te.columns_)
print(te_ary)
df=pd.DataFrame(te_ary,columns=te.columns_)
df

['Apple', 'Corn', 'Dill', 'Eggs', 'Ice cream', 'Kidney Beans', 'Milk', 'Nutmeg', 'Onion', 'Unicorn', 'Yogurt']
[[False False False  True False  True  True  True  True False  True]
 [False False  True  True False  True False  True  True False  True]
 [ True False False  True False  True  True False False False False]
 [False  True False False False  True  True False False  True  True]
 [False  True False  True  True  True False False  True False False]]

,Apple,Corn,Dill,Eggs,Ice cream,Kidney Beans,Milk,Nutmeg,Onion,Unicorn,Yogurt
0,False,False,False,True,False,True,True,True,True,False,True
1,False,False,True,True,False,True,False,True,True,False,True
2,True,False,False,True,False,True,True,False,False,False,False
3,False,True,False,False,False,True,True,False,False,True,True
4,False,True,False,True,True,True,False,False,True,False,False

In [5]:
frequent_items=apriori(df,min_support=0.6,use_colnames=True)
frequent_items

    support                     itemsets
0       0.8                       (Eggs)
1       1.0               (Kidney Beans)
2       0.6                       (Milk)
3       0.6                      (Onion)
4       0.6                     (Yogurt)
5       0.8         (Kidney Beans, Eggs)
6       0.6                (Onion, Eggs)
7       0.6         (Kidney Beans, Milk)
8       0.6        (Kidney Beans, Onion)
9       0.6       (Kidney Beans, Yogurt)
10      0.6  (Kidney Beans, Onion, Eggs)

In [6]:
rules=association_rules(frequent_items,metric='support',min_threshold=0.6)
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Kidney Beans),(Eggs),1.0,0.8,0.8,0.80,1.00,0.00,1.0
1,(Eggs),(Kidney Beans),0.8,1.0,0.8,1.00,1.00,0.00,inf
2,(Onion),(Eggs),0.6,0.8,0.6,1.00,1.25,0.12,inf
3,(Eggs),(Onion),0.8,0.6,0.6,0.75,1.25,0.12,1.6
4,(Kidney Beans),(Milk),1.0,0.6,0.6,0.60,1.00,0.00,1.0
5,(Milk),(Kidney Beans),0.6,1.0,0.6,1.00,1.00,0.00,inf
6,(Kidney Beans),(Onion),1.0,0.6,0.6,0.60,1.00,0.00,1.0
7,(Onion),(Kidney Beans),0.6,1.0,0.6,1.00,1.00,0.00,inf
8,(Kidney Beans),(Yogurt),1.0,0.6,0.6,0.60,1.00,0.00,1.0
9,(Yogurt),(Kidney Beans),0.6,1.0,0.6,1.00,1.00,0.00,inf
10,"(Kidney Beans, Onion)",(Eggs),0.6,0.8,0.6,1.00,1.25,0.12,inf
11,"(Kidney Beans, Eggs)",(Onion),0.8,0.6,0.6,0.75,1.25,0.12,1.6
12,"(Onion, Eggs)",(Kidney Beans),0.6,1.0,0.6,1.00,1.00,0.00,inf
13,(Kidney Beans),"(Onion, Eggs)",1.0,0.6,0.6,0.60,1.00,0.00,1.0
14,(Onion),"(Kidney Beans, Eggs)",0.6,0.8,0.6,1.00,1.25,0.12,inf
15,(Eggs),"(Kidney Beans, Onion)",0.8,0.6,0.6,0.75,1.25,0.12,1.6

In [8]:
print('Welcome Setji.Maari dukanama tamhara swagat che')
print("Mahara Passe ae ae vastu che ",list8)
cartitem=''
space=' '
list2=[]
ip='yes'
cartitem1=[]
while (len(cartitem1)!=len(list8)) and (ip=='yes'):
    user=input("Ave tu bol bakka tamne ke chiye: ")
    if user not in cartitem:
        cartitem+=space+user
        list2.append(user)
        cartitem1.append(user)
        pred=rules[rules['antecedents'].apply(lambda x:set(list2).issubset(set(x)))]
        if len(pred['consequents'])!=0:
                list1=pred['consequents']
                list1=list1.unique()
                for x in range(len(list1)):
                    if len(list1[x])==1:
                        st=str(list1[x])
                        if st[12:-3] not in cartitem:
                            print("Ae setji aah vastu par scheme che deu ka have ouh ")
                            print(st[12:-3])
        print("Havve tari total kharidari che :",cartitem)
        list2.remove(user)
    else:
        print('Ae dusra lene Bakka')
    if len(cartitem1)!=len(list8):
        ip=input("Aur bolo: ")
if len(cartitem1)==len(list8):
    print('Ae setji tamne toh maari puri dukan kahli karidi ae')
    print('Haave paisa apo 2 lakh crore')

Welcome Setji.Maari dukanama tamhara swagat che
Mahara Passe ae ae vastu che  ['Milk', 'Onion', 'Nutmeg', 'Kidney Beans', 'Eggs', 'Yogurt', 'Dill', 'Apple', 'Unicorn', 'Corn', 'Ice cream']
Ave tu bol bakka tamne ke chiye: Milk
Ae setji aah vastu par scheme che deu ka have ouh
Kidney Beans
Havve tari total kharidari che :  Milk
Aur bolo: yes
Ave tu bol bakka tamne ke chiye: Kidney Beans
Ae setji aah vastu par scheme che deu ka have ouh
Eggs
Ae setji aah vastu par scheme che deu ka have ouh
Onion
Ae setji aah vastu par scheme che deu ka have ouh
Yogurt
Havve tari total kharidari che :  Milk Kidney Beans
Aur bolo: yes
Ave tu bol bakka tamne ke chiye: Onion
Ae setji aah vastu par scheme che deu ka have ouh
Eggs
Havve tari total kharidari che :  Milk Kidney Beans Onion
Aur bolo: yes
Ave tu bol bakka tamne ke chiye: Eggs
Havve tari total kharidari che :  Milk Kidney Beans Onion Eggs
Aur bolo: yes
Ave tu bol bakka tamne ke chiye: Nutmeg
Havve tari total kharidari che :  Milk Kidney Beans Onion Eggs Nutmeg
Aur bolo: yes
Ave tu bol bakka tamne ke chiye: Yogurt
Havve tari total kharidari che :  Milk Kidney Beans Onion Eggs Nutmeg Yogurt
Aur bolo: yes
Ave tu bol bakka tamne ke chiye: Dill
Havve tari total kharidari che :  Milk Kidney Beans Onion Eggs Nutmeg Yogurt Dill
Aur bolo: yes
Ave tu bol bakka tamne ke chiye: Apple
Havve tari total kharidari che :  Milk Kidney Beans Onion Eggs Nutmeg Yogurt Dill Apple
Aur bolo: yes
Ave tu bol bakka tamne ke chiye: Unicorn
Havve tari total kharidari che :  Milk Kidney Beans Onion Eggs Nutmeg Yogurt Dill Apple Unicorn
Aur bolo: yes
Ave tu bol bakka tamne ke chiye: Corn
Havve tari total kharidari che :  Milk Kidney Beans Onion Eggs Nutmeg Yogurt Dill Apple Unicorn Corn
Aur bolo: yes
Ave tu bol bakka tamne ke chiye: Ice cream
Havve tari total kharidari che :  Milk Kidney Beans Onion Eggs Nutmeg Yogurt Dill Apple Unicorn Corn Ice cream
Ae setji tamne toh maari puri dukan kahli karidi ae
Haave paisa apo 2 lakh crore